<%= simple_form_for @mock do |form| %>
  <div class="row">
    <div class="small-12 medium-6 columns">
      <div class="row">
        <div class="small-12 columns">
          <%= form.input :name %>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <%= form.input :description, input_html: { class: 'short' } %>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <%= form.input :route_path %>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <%= form.input :method, collection: available_http_methods %>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <%= form.input :status %>
        </div>
      </div>
    </div>

    <div class="small-12 medium-6 columns">
      <div class="row">
        <div class="small-12 medium-6 columns">
          <%= form.input :body_type, collection: available_body_types %>
        </div>

        <div class="small-12 medium-6 columns">
          <%= form.input :content_type, collection: available_mime_types %>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <%= form.input :content, input_html: { class: 'tall' } %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <h3>Headers</h3>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns mock-headers">
      <div class="right">
        <%= link_to_add_association 'Add header',
                                    form,
                                    :headers,
                                    data: {
                                      association_insertion_method: 'append',
                                      association_insertion_node: '.mock-headers'
                                    } %>
      </div>
      <%= form.simple_fields_for :headers do |header_fields| %>
        <%= render partial: 'header_fields', locals: { f: header_fields } %>
      <% end %>

    </div>
  </div>

  <%= form.submit 'Save', class: 'button' %>
<% end %>
