<% title 'Mocks' %>

<h1><%= t :mocks %></h1>

<p class="page-guide">
  <%= t :mocks_index_page_guide %>
</p>

<% if @mocks.blank? %>
  <div class="alert-box warning">
    <%= t :no_mocks_warning %>
  </div>
<% else %>
  <table class="mocks">
      <thead>
        <tr>
          <th><%= t :mock_name %></th>
          <th><%= t :mock_method %></th>
          <th><%= t :mock_route %></th>
          <th><%= t :mock_actions %></th>
        </tr>
      <thead>

      <tbody>
        <% @mocks.each do |mock| %>
          <tr>
            <td>
              <%= mock.name %>
            </td>

            <td>
              <%= mock.request_method %>
            </td>

            <td>
              <%= mock.route_path %>
            </td>

            <td class="actions">
              <%= link_to edit_duckrails_mock_path(mock), class: 'button tiny' do %>
                <i class="fa fa-edit"></i>
              <% end %>

              <%= link_to duckrails_mock_path(mock), method: :delete,
                                           data: {
                                             confirm: t(:mock_deletion_confirmation)
                                           }, class: 'button tiny' do %>
                <i class="fa fa-remove"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
  </table>

  <div class="row">
    <div class="small-12 columns">
      <%= paginate @mocks %>
    </div>
  </div>
<% end %>

<div class="page-actions">
  <div class="row">
    <div class="small-12 columns">
      <%= link_to new_duckrails_mock_path, class: 'button' do %>
        <i class="fa fa-plus"></i>
        <span><%= t :create_new_mock %></span>
      <% end %>
    </div>
  </div>
</div>
