<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1>
        <%= link_to root_path, class: 'home-link' do %>
          <%= image_tag 'duck-face-white.png', size: '30x30' %>
          <span>DuckRails</span>
          <span class="version success">v. <%= Duckrails::Application::VERSION %></span>
        <% end %>
      </h1>
    </li>

    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <a href="#">Menu</a>
        <ul class="dropdown">
          <li><%= link_to 'View all mocks', duckrails_mocks_path %></li>
          <li><%= link_to 'Create new mock', new_duckrails_mock_path %></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>
